menuconfig ION
	tristate "Ion Memory Manager"
	select GENERIC_ALLOCATOR
	select DMA_SHARED_BUFFER
	help
	  Chose this option to enable the ION Memory Manager.

config ION_TEGRA
	tristate "Ion for Tegra"
	depends on ARCH_TEGRA && ION
	help
	  Choose this option if you wish to use ion on an nVidia Tegra.

config ION_MSM
	tristate "Ion for MSM"
	depends on ARCH_MSM && ION
	help
	  Choose this option if you wish to use ion on an MSM target.

config MSM_ION_MEMTRACK_DEBUG
	tristate "Ion mem usage debugging"
	depends on ION_MSM
	help
	  Causes a kernel panic and prints Ion memory heap usage statistics
	  for all heaps when an Ion heap (content-protect or carveout) runs
	  out of memory. This should not be used in production builds.
